
  h1 {
    text-align: center;
    margin: 0px;
    color: #096192;
    background-color: #d3d3d3;
  }

  div p {
    text-align:center;
    color: #66ff00;
    background-color: black;

  }
  div h4{
    text-align:center;
  }
